@import '../../../../vars.scss';
.mainContent {
  &>* {
    margin: 30px;
  }
}

.widgetCalendar {
  @media screen and (max-width: 560px) {
    margin: 0 !important;
    border-radius: 0 !important;
    border: none;
  }
}

.calendarTitle {
  @media screen and (max-width: 550px) {
    display: none;
  }
}

.addSm {
  @media screen and (min-width: 601px) {
    display: none;
  }
}

.addLg,
.dropdownFilter,
.titleIcon,
.dropdownShareText {
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}

.btnArrow {
  font-size: .55rem;
}