{
  "presets": [
    "razzle/babel"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    [
      "module-resolver",
      {
        "alias": {
          "@config": "./config",
          "@redux": "./src/universal/redux",
          "@components": "./src/universal/components",
          "@componentWrappers": "./src/universal/componentWrappers",
          "@containers": "./src/universal/containers",
          "@App": "./src/universal/App",
          "@lib": "./src/universal/lib",
          "@public": "./public",
          "@exampleAssets": "./src/universal/exampleAssets",
          "@hoc": "./src/universal/hoc",
          "@styles": "./src/universal/_vars.scss"
        }
      }
    ]
  ]
}