@import '../../../../_vars.scss';

.wrapper {
  background: $primary;
  
  * {
    color: white;
  }
  .logo {
    color: white;
  }

  input {
    color: white;
    &::placeholder {
      color: rgba(255,255,255,0.7);
    }
  }
  .inputWrapper {
    flex-grow: 1;
    // padding: 0;
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}