.selectInput {
  border: none !important;
  padding-left: 0;
  box-shadow: none !important;
  &:hover {
    background: none;
  }
  @media screen and (max-width: 400px) {
    transform: translateX(15px);
  }
}

.selectValueWrapper {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-right: 16px;
  font-size: 1rem;
  img {
    margin-right: 16px;
  }
}

.option {
  height: 66px;
}