@import "../../../../../vars.scss";
.asPage {
  margin: 15px;
  border: $borderDefault;
  border-width: 10px;
  border-radius: 2px;
  background: $bg;
}

.content {
  padding: 100px;
  text-align: center;
}

.outerTitle {
  padding: 15px;
  font-size: 1.5rem;
}

.codeHighlight {
  margin: 15px;
}