@import '../../../../../vars.scss';
.page {
  background: white;
}

.wrapper {
  h2 {
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: 500;
  }
  .gridView {
    &>* {
      flex-basis: calc(25% - 30px);
      margin: 15px;
      @media screen and (max-width: 1350px) {
        flex-basis: calc(33.3% - 30px);
      }
      @media screen and (max-width: 1000px) {
        flex-basis: calc(50% - 30px);
      }
      @media screen and (max-width: 400px) {
        flex-basis: calc(100% - 30px);
      }
    }
  }
}

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
  margin-top: 1.275rem;
  &>* {
    margin: 10px 15px;
    flex-basis: calc(100% - 30px);
  }
  @media screen and (min-width: 520px) {
    &>* {
      flex-basis: calc(50% - 30px);
    }
  }
  @media screen and (min-width: 1200px) {
    &>* {
      flex-basis: calc(25% - 30px);
    }
  }
}

.category {
  border-radius: 4px;
  border: $borderDefault;
  padding: 5px;
  display: flex;
  align-items: center;
}

.catImage {
  @include backgroundCover();
  height: 60px;
  width: 80px;
  flex-grow: 0;
}

.catName {
  font-weight: 500;
  font-size: 1rem;
  color: $textMain;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.upgradeBanner {
  @include backgroundCover();
  height: 300px;
  border-radius: 4px;
  padding: 30px 40px;
  @media screen and (min-width: 520px) {
    padding: 40px 50px;
  }
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &>* {
    width: auto;
  }
  .upgradeName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .pro {
      display: inline-block;
      padding: .2rem .45rem;
      background: white;
      color: $textMain;
      border-radius: 4px;
      font-size: .75rem;
    }
    &>*:not(:last-child) {
      margin-right: .5rem;
    }
  }
  h2.bannerTitle {
    font-size: 1.625rem;
    color: #FFFFFF;
    line-height: 2.375rem;
    font-weight: 400;
    max-width: 280px;
  }
}